body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.fondo {
    background-image: url("fuegos_artificiales.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    padding: 1rem 2rem;
    font-size: clamp(16px, 4vw, 20px);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ff9800;
    color: white;
    z-index: 10;
}

#mensaje {
    margin-top: 1.5rem;
    font-size: clamp(80px, 8vw, 48px);
    font-weight: bold;
    opacity: 0;
    text-align: center;
    z-index: 10;
    color: rgb(212, 56, 28);
}

.mostrar {
    animation: aparecer 10s forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

.particula {
    position: absolute;
    width: clamp(4px, 1vw, 6px);
    height: clamp(4px, 1vw, 6px);
    background-color: rgb(62, 87, 230);
    border-radius: 50%;
    animation: explotar 3s ease-out forwards;
}

@keyframes explotar {
    from {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(var(--x), var(--y)) scale(0);
        opacity: 0;
    }
}